<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="icon" type="image/png" href="/img/icons/title-icon.png"/>
	</head>
	<body>
		<nav class="navbar navbar-inverse" style="border-radius: 0px !important;" th:fragment="header"	>
  			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/">Development</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/">Home</a></li>
      				<li><a href="/customer/products">Products</a></li>
      				<li><a href="/customer/company-profile">Company Profile</a></li>
						
      				<li class="dropdown" sec:authorize="isAuthenticated()">
      					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu<span class="caret"></span></a>
        				<ul class="dropdown-menu">
          					<li><a href="/admin/home">Admin Home</a></li>
          					<li><a href="/category-list/page/1">Categories</a></li>
          					<li><a href="/product-list/page/1">Products</a></li>
        				</ul>
      				</li>
      				<li><a href="/customer/contact-us">Contact Us</a></li>
    			</ul>		
    
    			<ul class="nav navbar-nav navbar-right" sec:authorize="isAuthenticated()">
    				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
    					<span class="glyphicon glyphicon-user"></span> Profile <span class="caret"></span></a>
    					<ul class="dropdown-menu">
	          				<li><a href="/logout">Logout</a></li>
	        			</ul>
    				</li>
<!--       <li><a href="/registration"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
<!--       <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
    			</ul>
  			</div>
  
  
		</nav>
	</body>
</html>