body {
/*     padding-top: 40px; */
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}

.toggle-icon {
	border-color: #333;
	position: relative;
    float: right;
    padding: 9px 10px;
/*     margin-top: 8px; */
/*     margin-right: 15px; */
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.toggle-icon .icon-bar {
    background-color: #fff;
}

.toggle-icon .icon-bar {
    margin: 0.5rem 0 0!important;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.upper-links {
    display: inline-block;
    float:right;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
/*     background-color: #fff; */
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    right: 11%;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.home-panel {
	margin-top: 2%;
}

.footer {
	position: fixed;
    width: 100%;
    clear: both;
    color: #9d9d9d;
    bottom: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 5%;
    padding-top: 5px;
    background: #222;
    -webkit-box-shadow: 0 2px 2px #D2D2D2;
    -moz-box-shadow: 0 2px 2px #D2D2D2;
    box-shadow: 0 2px 2px #D2D2D2;
    border-top: 1px solid #ccc;
}

.product-list-container {
    margin-top: 2%;
/* 	height: 410px; */
}

.product-container {
/* 	height: 475px; */
}
 
.product-preview-container {
    border: 1px solid #ccc;
    padding: 15px;
    width: 30%;
    min-width: 200px;
    margin: 10px ;
    display: inline-block;
    text-align:left;
}
 
.product-image {
    width: 120px;
    height: 80px;
}
  
.product-preview-container ul {
    list-style-type: none;
    padding-left: 5px;
    margin:5px;
}

b, strong {
    font-weight: bold !important;
}

.rHead {
	border-color: #191a1b;
	padding: 12px 12px;
    display: block;
    font-weight: bold;
    border-bottom: 2px solid;
}

.ic {
    padding: 10px;
}

.h2 {
	color: #c00;
    position: relative;
    font-size: 16px;
    line-height: 1.2em;
}

.b2, .b3 {
    float: left;
    font-weight: normal;
    margin-right: 3px;
    line-height: 1.5em;
    color: #ccc;
    padding-left: 20px;
}

.ofh {
    overflow: hidden;
}

.tcl ul ul {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
}

.tcl.divider ul > li li {
    border-bottom: none;
}

.tcl li li {
    padding: 2px 0;
    margin: 0;
    
    list-style: none;
}

.b3:before {
    content: '\e827';
}

.b2:before, .b3:before {
    font-family: 'icomoon';
}

.b2, .b3 {
    float: left;
    font-weight: normal;
    margin-right: 3px;
    line-height: 1.5em;
    color: #ccc;
}

.col-3 {
	width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    box-sizing: content-box;
    vertical-align: top;
    display: table-cell;
}

.page-container {
	padding-bottom: 80px;
}

.category-title {
	color: #191a1b;
	border-color: rgba(0,0,0,0.13);
	border-bottom: 1px solid #999;
	font-size: 1.4em;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-weight: bold;
}

.category-description {
	text-align: justify;
}

 
.dif {
	color: #191a1b;
	
}

.column_Box {
	margin-top: 15px;
}
.mc {
	    background: rgba(255,255,255,0.4);
	    border: 1px solid rgba(0,0,0,0.13);
}

.page-title-inner {
/* 	padding: 35px 0px; */
	display: table;
    width: 100%;
    color: #9d9d9d;
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding-left: 26px;
}

div {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
}

.headBg {
    background-attachment: fixed;
    margin-top: -50px;
    background-color: #222222;
    background-image: url(//catalog.wlimg.com/templates-images/12569/12573/pattern_n2.png);
    clear: both;
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 0;
    position: relative;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.02) inset, 0 -5px 5px rgba(0, 0, 0, 0.02) inset;
}

.headBg .breadcrumb {
    background: transparent;
    margin-bottom: 0px;
    padding: 2px;
    float: left;
    color: #9d9d9d;
    font-size: 18px;
}

.page-title-inner .breadcrumb a {
    color: #9d9d9d;
    font-size: 18px;
}






// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes


// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  padding: $navbar-padding-y $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  @include font-size($navbar-brand-font-size);
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.nav-link`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important

          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  .navbar-brand {
    color: $navbar-light-brand-color;

    @include hover-focus {
      color: $navbar-light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}
